<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>{{ page.title | default: site.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <section class="page-header">
      <h1 class="project-name">{{ site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ site.description | default: site.github.project_tagline }}</h2>
<!--       {% if site.github.is_project_page %}
        <a href="{{ site.github.repository_url }}" class="btn">View on GitHub</a>
      {% endif %} -->
<!--       {% if site.show_downloads %}
        <a href="{{ site.github.zip_url }}" class="btn">App Store</a>
      {% endif %} -->
    </section>

    <section class="main-content">
<!--       {{ content }} -->
      <div id="outline-container-sec-1" class="outline-2">
    <h1 id="sec-1">PRIVACY POLICY</h1>

    <div class="outline-text-2" id="text-1">
      <p>
        Step by step’s goal is to help users live more active and healthier lives using advanced mobile internet technology. To that end our applications and services collect, store and analyze a variety of data collected from you and your devices, including personal health related data, both on your mobile device and via cloud-based services.
      </p>

      <p>This statement is intended to clearly explain in human readable language what data we collect and how it is used. If after reading this statement you have further questions, please contact us at the email address listed at the end of this document.</p>
    </div>
  </div>
  <div class="outline-2">
    <h2>WHAT INFORMATION WE COLLECT</h2>

    <p>Our apps and services may collect the following types of information in order to provide services:
    </p>
    <ul>
      <li>Your email address or your social login information as required to safeguard your data and verify your identity;
      </li>
      <li>Biographical information, e.g. photograph, biography, gender, age, geographic location, general notes;
      </li>
      <li>Physical activity related data, e.g., exercise logs (including location coordinates for GPS-enabled sessions) and passively tracked activity data such as steps taken, calories burned, active time and distance traveled
      </li>
      <li>Other health related data, e.g., body weight logs, BMI, blood pressure and heart rate logs</li>
      <li>Data entered via free text fields, such as comments and annotations
      </li>
      <li>Health goals and targets specified within the services
      </li>
      <li>Data entered via feedback forms and surveys
      </li>
    </ul>
    <p style="font-size: 0.9em">We may collect above information even if the app is not running in the foreground.
    </p>

    <p style="font-size: 0.9em">You should be able to adjust the settings on your iOS mobile device to prevent our collection of Location Information by disabling the location services feature on your device.
    </p>

    <p>
      Data collected from other sources:
    </p>
    <ul>
      <li>
      If you choose to connect our services with 3rd party services such as social networks or other health apps, we may collect information from these services in order to provide the expected functionality to you.  Any information we collect will always be used in compliance with the policies of the relevant 3rd party.  This data may include but is not limited to health data collected via other services, as well as basic social network profile information.
      </li>
    </ul>
  </div>
  <div id="outline-container-sec-2" class="outline-2">


    <div id="outline-container-sec-2-2" class="outline-3">
      <h2 id="sec-2-1">APPLE HEALTHKIT DATA</h2>

      <div class="outline-text-3" id="text-2-1">
        <p>
          User data collected from Apple Health will never be used for marketing or advertising purposes.
        </p>
      </div>
    </div>

    <div id="outline-container-sec-2-3" class="outline-3">
      <h2 id="sec-2-1">POLICY FOR CHILDREN</h2>

      <div class="outline-text-3" id="text-2-1">
        <p>
          Step by step’s services are not directed at persons under the age of 13. We do not knowingly collect any personal data from children under the age of 13. If you are under the age of 13, we ask that you do not submit any personal data through our services. If you are aware of a person under the age of 13 who has submitted personal information to our services, please report it to happyhn2020@gmail.com and we will promptly delete such information from our databases.
        </p>
      </div>
    </div>
  </div>


  <div id="outline-container-sec-3" class="outline-2">
    <h2 id="sec-3">USE OF YOUR DATA</h2>

    <p>We use the information we collect to:</p>
    <ul>
      <li>Operate and improve our services;</li>
      <li>Provide user and other support, including to our third-party business partners;</li>
      <li>Provide you with information when you enter participating local venues;</li>
      <li>Carry out other purposes that are disclosed to you and to which you consent.</li>
    </ul>
    <p>We do not disclose your health related data, physical activity data or health related goal data to any 3rd parties without your express permission.
    </p>
  </div>

  <div id="outline-container-sec-5" class="outline-2">
    <h2 id="sec-5">COMMUNICATION</h2>

    <div class="outline-text-2" id="text-5">
      <p>
        If you choose to share contact information with us (such as an email address), we may use this information to send you updates about our services from time to time. If this information is promotional in nature, we will provide an opt-out option.
      </p>
    </div>
  </div>


  <div id="outline-container-sec-6" class="outline-2">
    <h2 id="sec-6">SOCIAL SHARING</h2>

    <div class="outline-text-2" id="text-6">
      <p>
        If you choose to use the social features of Step by step, your daily activity data, goal check-in activity, and some profile information such as your display image, display name, profile bio text, and general location (city, state, country) may be visible to other users. By using social features of our services you consent to sharing this information. You can choose to stop sharing data with other users in your groups by leaving the group(s) to which you no longer wish to share data. You can choose to stop sharing goal and check-in data with other users by choosing to participate in goals with the “Private” option enabled for each of your goals.
      </p>
    </div>
  </div>

  <div id="outline-container-sec-7" class="outline-2">
    <h2 id="sec-7">DELETING YOUR DATA</h2>

    <div class="outline-text-2" id="text-7">
      <p>
        If you would like your account and related information deleted, please contact us at the e-mail address listed at the end of this document. Please note that requests may take several business days to complete, and that after completion you will no longer be able to use the services unless you create a new account.
      </p>
    </div>
  </div>

  <div id="outline-container-sec-7" class="outline-2">
    <h2 id="sec-7">CHANGES TO THIS POLICY</h2>

    <div class="outline-text-2" id="text-7">
      <p>
        We reserve the right to change our Privacy Policy in the future without prior notice. The services we offer are likely to change, and in the future it is therefore likely that our Privacy Policy will also need to be revised accordingly. Our most up-to-date privacy policy will be posted here.
      </p>
    </div>
  </div>

  <div id="outline-container-sec-8" class="outline-2">
    <h2 id="sec-8">MORE INFORMATION</h2>

    <div class="outline-text-2" id="text-8">
      <p>
        Contact us at <a href="mailto:happyhn2020@gmail.com">happyhn2020@gmail.com</a> if you have further questions or concerns
        about your data. Last updated: 01/25/2017
      </p>
    </div>
  </div>

      <footer class="site-footer">
        {% if site.github.is_project_page %}
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
        {% endif %}

      </footer>
    </section>

    {% if site.google_analytics %}
      <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      </script>
      <script type="text/javascript">
        try {
          var pageTracker = _gat._getTracker("{{ site.google_analytics }}");
        pageTracker._trackPageview();
        } catch(err) {}
      </script>
    {% endif %}
  </body>
</html>
